version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    groups:
      all-dependencies:
        patterns:
          - '*'

  - package-ecosystem: npm
    directory: /examples/servers/typescript
    schedule:
      interval: monthly
    groups:
      all-dependencies:
        patterns:
          - '*'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      all-actions:
        patterns:
          - '*'
